body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    margin-top: 0;
  }
  h1 {
    text-align: center;
    margin-bottom: 100px;
  }
  table {
    border-collapse: collapse;
    border: 2px solid black;
    table-layout: fixed;
    width: 100%;
    text-align: center;
  }
  
  th, td {
    border: 1px solid black;
    padding: 1px;
    text-align: center;
  }

  th:first-child{
    width: 200px;
    text-align: center;
  }
  th:not(:first-child), td:not(:first-child){
    width: calc((100%-200px)-31);
  }
